LOG_LEVEL=info
LOG_BATCH=false
LOG_BATCH_SIZE=1000
LOG_BATCH_POLL_INTERVAL=0

RUNTIME_USE_CPUS=0
RUNTIME_MAX_THREADS=0

CACHE_TYPE=memory# dummy, memory, redis, aerospike
CACHE_CONNECTION_STRING=
CACHE_TTL=60s

HTTP_CORS_ENABLED=false
HTTP_REQUEST_LOGGING_ENABLED=false
HTTP_RESPONSE_TIME_LOGGING_ENABLED=false
HTTP_READ_TIMEOUT=30s
HTTP_WRITE_TIMEOUT=30s
HTTP_IDLE_TIMEOUT=30s
HTTP_MAX_REQUEST_BODY_SIZE=33554432
HTTP_NETWORK=tcp
HTTP_ADDRESS=:8080

HEALTHCHECK_GOROUTINE_THRESHOLD=20

DEBUG_INSECURE_SKIP_VERIFY=true

RWDB_CONNECTION_STRING=postgres://alexthecreator:anarchyintheuk@node71.otclick.ru:5516/kickerdb-clone2?sslmode=disable
RWDB_MAX_OPEN_CONNECTION=5
RWDB_MAX_IDLE_CONNECTION=1
RWDB_MAX_IDLE_TIMEOUT=30s

RDB_CONNECTION_STRING=postgres://alexthecreator_rd:anarchyintheuk@node71.otclick.ru:5516/kickerdb-clone2?sslmode=disable
RDB_MAX_OPEN_CONNECTION=5
RDB_MAX_IDLE_CONNECTION=1
RDB_MAX_IDLE_TIMEOUT=30s

VERSION_NUMBER=1.0.0
VERSION_BUILD=dev

TOKEN_TTL_ACCESS=1h
TOKEN_TTL_REFRESH=720h

SECRET_KEY=test_key
SECRET_SALT=test_salt

REDIS_CONNECTION_STRING=redis://my_user:my_user_Passw0rd@redis-kicker:6379
REDIS_TIMEOUT=2s

LIFETIME_SESSION=720h
LIFETIME_TEMP_USER=24h